
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contact me</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <style>
          p.ex1 {
              margin-left: 35px;
          }
          </style>

      <p class="ex1"><ion-icon name="Contact"></ion-icon>Susan Neffling</p>
      <p class="ex1"><ion-icon name="Home"></ion-icon>Home street 1, 01300 Hometown</p>
      <p class="ex1"><ion-icon name="Call"></ion-icon>+358 50 123 4567</p>
      <p class="ex1"><ion-icon name="At"></ion-icon>susan.neffling@student.laurea.fi</p>
      <p class="ex1"><ion-icon name="Logo-github"></ion-icon>Link to my GitHub</p>


  </ion-content>