
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Career</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!--Let's add my working history here (Susan Neffling 1700137)-->
  <ion-content>
    <br>
    <strong>K-Supermarket Yliveto</strong>
    <br>
    <strong>10/2007 - 03/2012</strong>
    <p><i>Mainly worked as a cashier. Learned to deal with different
    kinds of people.</i></p>
    <br>
    <strong>City of Helsinki</strong>
    <br>
    <strong>03/2012 - 08/2012</strong>
    <p><i>Worked as a work coach for disabled and autistic people.</i></p>
    <br>
    <strong>Opteam</strong>
    <br>
    <strong>01/2013 - 03/2015</strong>
    <br>
    <p><i>Worked as an extra in different grocery stores all over Helsinki metropolitan area</i></p>
    <br>
    <strong>HOK-Elanto</strong>
    <br>
    <strong>03/2015 - </strong>
    <br>
    <p><i>Working mainly in fruit-, vegetable- and bread -sections. Job is very physical.</i></p>

  </ion-content>