<!--Adding code to Welcome-page (Susan Neffling 1700137-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
      <strong><h3><i>Hello! You are watching the CV of</i></h3></strong>
      <ion-img style="width: 300px; height: 300px;" src="/assets/images/profiilikuva.jpg"></ion-img>
      <br>
      <strong><h2>Susan Neffling</h2></strong>
  <ion-list></ion-list>
</ion-content>
