// Adding some style to the page (Susan Neffling 1700137)

h3 {
    padding-top: 20px;
}

h2 {
    font-size: 42px;
}

ion-img {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}