
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Education</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <p><strong>Bachelor's Degree in Business Information Technology</strong>
      <br>
      <i>Laurea University of Applied Sciences</i>
      <br>
      2017 - </p>
      
      <p><strong>Bachelor's Degree in Social Services</strong>
      <br>
      <i>Laurea University of Applied Sciences</i>
      <br>
      2010-2013</p>
      
     <p><strong>Tikkurila high school</strong>
       <br>
      2006-2009</p>
  </ion-content>