
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About me</ion-title>
  </ion-toolbar>
</ion-header>

<!--Adding some content to the page and doing some styling at the same time (Susan Neffling 1700137)-->
<ion-content>
  <p><i>Hi! I am a 28-year-old woman and I live in Vantaa with my cat.
  I have started my working career when I was only seventeen and since that day I have always
  been working, even during all my studies. Most of my career I have spent in different 
  grocery stores. I think one of my strengths is that when I get a job, I usually work in that 
  one place for many years and do not give up easily.</i></p>
  <strong>Extracurricular activities and project works:</strong>
  <p><strong>Hobbies:</strong>
    <br>
  Football (captain of the team), gym & knitting/crocheting
  <br><br>
  <strong>Project works:</strong>
  <br>
  In my previous studies I was in a Virtu-project, where we organized activities for old people
  via video conversation.</p>
</ion-content>
